@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Bold.woff2') format('woff2'),
      url('./fonts/Gotham-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Book.woff2') format('woff2'),
      url('./fonts/Gotham-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('./fonts/Gotham-Light.woff2') format('woff2'),
      url('./fonts/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html, body {
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
  font-size: 16px;
  /* background: radial-gradient(241.9% 82.66% at 0% 0%, #fed4c6 0%, rgba(255, 182, 159, 0) 100%), #fff098;
  background-repeat: no-repeat;
  background-size: cover; */
}

canvas {
  background: radial-gradient(241.9% 82.66% at 0% 0%, #dc876b 0%, rgba(255, 182, 159, 0) 100%), #fff098;
  background-repeat: no-repeat;
}

body {
  
}

.filter-container {
  position: fixed;
  width: 350px;
  height: auto;
  top: 20px;
  left: 20px;
  z-index: 10;
  border: 5px solid black;
}

.filter-container > footer {
  border-top: 2px solid black;

}

.filter-container > header {
  border-bottom: 2px solid black;
  cursor: pointer;
}


.filter-container > main {
  /* max-height: 400px; */
  overflow-y: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.filter-container li {
  cursor: pointer;
}

.filter-container li.active {
  /* font-style: italic; */
  padding: 0.5em;
  border-left:3px solid black;
}

.filters-clear {
  cursor: pointer;
}

.filter-container > main::-webkit-scrollbar {
  display: none;
}

.filter-role {
  cursor: pointer;
  transition: 230ms ease-in all;
  border-color: black;

}

/* .filter-role.active {
  background: black;
  color: white;
  border-color: black;
} */

.card-grid {
  width: calc(100% - 390px);
  max-width: 60vw;
  margin-top: 20px;
  margin-left: 390px;
  
}

.card {
  width: 250px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  background: radial-gradient(241.9% 82.66% at 0% 0%, #fed4c6 0%, rgba(255, 182, 159, 0) 100%), #ffc598;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

.card:hover {
  
}
.node-label {
  color: #ffc598;
  background: black;
  max-width: 350px;
  width: auto;
  height: auto;
}
.node-label header {
  height: 100%;
  width: 50px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.node-label header img.label-image {
  width: 100%;
  border: 50px solid blue;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.card header {
  height: 250px;
  border-bottom: 2px solid black;
  
}

.card svg {
  width: 20px;
  height: 20px;
}

.card header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;

  /* filter: grayscale(100%); */
}

.card .location {
  border-top: 2px solid black;
}

#scene {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.card footer {
  /* border-top: 3px solid black; */
}

@media screen and (min-width: 30em) {
}


@media screen and (min-width: 60em) {
}

